.key {
    font-size: 20px;
    color: rgb(128, 229, 76);
}

.hint {
    font-size: 20px;
    margin-left: 10px;
}

.base {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    padding-top: 1px;
    padding-bottom: 1px;
}
